body
{
    margin: 0;
    font-family: 'Trebuchet MS';

}

h1
{
    text-align: center;
}

a
{
    text-decoration: none;
    color: grey;
}

#container
{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    margin: auto;
}

.bloc
{
    width: fit-content;
    text-align: center;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 2rem;
    margin: 2rem;
}